<div class="fixed-top">
  <div class="row">
    <div class="col text-center bg-white">
      <h1>Recipeasy!</h1>
    </div>
  </div>

  <!-- https://getbootstrap.com/docs/4.0/examples/navbars/ -->
  <nav class="navbar navbar-expand navbar-dark bg-primary">
      <div *ngIf="getUser();else logIn" class="collapse navbar-collapse" style="height: 40px;">
          <ul  class="navbar-nav mr-auto">
              <li class="nav-item active">
                  <a [routerLink]="['/recipes']" class="text-light">Recipes</a>
              </li>
          </ul>
          <select class="form-control mr-4 bg-primary" style="max-width: 120px; color: white;" >
            <option value="en" selected="selected">English</option>
            <option value="fr" >Francais</option>
          </select>
          <div >
          <a  [routerLink]="['/profile']" class="text-light mr-4">Profile</a>
          </div>
          <div >
          <button (click)="logOut()" type="button" class="btn btn-outline-light">Log out</button>
          </div>
        </div>
        <ng-template #logIn >
            <ul  class="navbar-nav mr-auto">
            </ul>
            <select (change)="changeLanguage($event.target)" class="form-control mr-4 bg-primary" style="max-width: 120px; color: white;" >
              <option [selected]="language == 'en'" value='en' >English</option>
              <option [selected]="language == 'fr'" value='fr' >Francais</option>
            </select>
            <a [routerLink]="['']" class="text-light text-center">Log In</a>
        </ng-template>

  </nav>
</div>

<div class="pt-4" style="margin: 112px 0px 24px 0px;">
  <router-outlet></router-outlet>
</div>
