<div class="container text-center">
  <form [formGroup]="recipeForm" (ngSubmit)="submitRecipe()">
    <div class="form-group">
      <div>
          <div class="col-md-10" style="display: inline-block;">
            <input
            formControlName="name"
            [class.is-invalid]="recipeForm.get('name')?.invalid && recipeForm.get('name')?.dirty && recipeForm.get('name')?.touched"
            type="input" placeholder="Name" class="form-control" >
          <div class="invalid-feedback text-left">
            Recipe Name Must Be Longer Than 3 Characters And Shorter Than 20 Characters.
          </div>
        </div>
          <div class="col-md-2" style="display: inline-block;">
            <select class="form-group" formControlName="category" >
              <option value="0" selected="selected">Breakfast</option>
              <option value="1" >Lunch</option>
              <option value="2" >Dinner</option>
            </select>
          </div>
          <div>
            <input
            formControlName="description"
            [class.is-invalid]="recipeForm.get('description')?.invalid && recipeForm.get('description')?.dirty && recipeForm.get('description')?.touched"
            type="input" placeholder="Description" class="form-control" style="margin-left: 15px;margin-right: 15px;">
            <div class="invalid-feedback text-left">
              Recipe Description Must Be Longer Than 3 Characters And Shorter Than 50 Characters.
            </div>
          </div>
      </div>
    </div >
    <div *ngIf="id==null;else Edit">
      <button [disabled]="recipeForm.invalid" class="btn btn-primary" style="margin: 15px;" type="submit">Add Recipe</button>
      <button [routerLink]="['/recipes']" class="btn" role="button" class="btn btn-secondary" style="margin: 15px;" type="reset" >Cancel</button>
    </div>
  <ng-template #Edit>
    <button [disabled]="recipeForm.invalid" class="btn btn-primary" style="margin: 15px;" type="submit">Edit</button>
    <button [routerLink]="['/recipes']" class="btn" role="button" class="btn btn-secondary" style="margin: 15px;" type="reset" >Cancel</button>
  </ng-template>
  </form>
</div>
