<div class="container text-center">
  <div class="row mt-2">
      <div class="col-10 offset-1">
        <div app-recipes-list [recipes]="recipes" (recipeDeletion)="recipeDelete($event)" (recipeEdition)="recipeEdit($event)">
        </div>
        <div>
          <a [routerLink]="['/recipe/new']" class="btn btn-outline-success btn-block mt-4" role="button">New Recipe</a>
        </div>
      </div>
  </div>
</div>
