<div *ngIf="recipes.length == 0; else showTable">
  You Have No Recipes Yet!
</div>
<ng-template #showTable>
  <!-- https://getbootstrap.com/docs/4.5/content/tables/#hoverable-rows -->
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Category</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let recipe of recipes" app-recipes-list-item [recipe]="recipe" (recipeDeleted)="recipeDeleted($event)" (recipeEdit)="recipeEdit($event)"> </tr>
    </tbody>
  </table>
</ng-template>
