<div class="container text-center">
  <div class="row mt-2">
      <div class="col-10 offset-1">
          <!-- https://getbootstrap.com/docs/4.5/components/alerts/#examples -->
        <div *ngIf="authError" class="alert alert-danger" role="alert">
          {{ authError }}
        </div>

        <!-- https://getbootstrap.com/docs/4.5/components/forms -->
        <form [formGroup]="loginForm" (ngSubmit)="logIn()">
            <div class="form-group">
              <input
                formControlName="email"
                [class.is-invalid]="loginForm.get('email')?.invalid && loginForm.get('email')?.dirty && loginForm.get('email')?.touched"
                type="email" placeholder="{{ 'login.login' | translate }}" class="form-control" >
              <div class="invalid-feedback text-left">
                {{'login.loginError' | translate}}
                  </div>
              </div>

              <div class="form-group">
                  <input
                    formControlName="password"
                    [class.is-invalid]="loginForm.get('password')?.invalid && loginForm.get('password')?.dirty && loginForm.get('password')?.touched"
                    type="password" placeholder="{{ 'login.password' | translate }}" class="form-control" >
                  <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.dirty && loginForm.get('password')?.touched" class="text-left text-danger">
                    {{'login.passwordError' | translate}}
              </div>
            </div>
              <button [disabled]="loginForm.invalid" class="btn btn-lg btn-primary btn-block" type="submit">{{'login.signin' | translate}}</button>

              <a [routerLink]="['/signup']" class="btn btn-outline-success btn-block mt-4" role="button">{{'login.signup'| translate}}</a>
          </form>
      </div>
  </div>
</div>
