<td>{{ recipe.name }}</td>
<td>{{ recipe.description }}</td>
<td>{{recipeCategory(recipe.id)}}</td>
<td><button (click)="edit()" type="button" class="btn  btn-sm btn-warning">Edit!</button></td>
<td><button (click)="delete()" type="button" class="btn  btn-sm btn-outline-danger">Delete!</button></td>
